

main{

    min-height: 90vh!important;
}
#contenedor-cards{
   min-height: 90vh;
   justify-content:space-between;
   align-items: center;
}
.card {
    width: 16rem;
}
.card-img-top{
    height: 10rem;
}
footer{
    min-height: 10vh;
    align-items: center;
}
.social{
    padding: 5px;
    padding-left: 10px;
    
}
.social img{
    width: 30px;
    
}
.card-price{
    display: flex;
    justify-content: space-between;
}
.banner{
    min-height: 30vh;
    width: 100%;
    display: flex;
    align-items: center;
}
.flecha lat-izq col-4{
    display: flex;
    justify-content: center;
   
}
.flecha lat-der col-4{
    display: flex;
    justify-content: center;
}
.seccion{
    display: flex;
    justify-content: center;
}
#flecha_izq{
    width: 100px;
    float: left;
}
#flecha_der{
    width: 100px;
    float: right;
    
}
